
* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .left {
    width: 55%;
    background-color: rgb(111, 204, 173);
    height: 7.6in;
  }
  
  .container .left .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .container .left .image img {
    width: 350px;
  }
  
  .container .left .header {
    margin-top: 30px;
    text-align: center;
  }
  
  .container .left .header h2 {
    color: white;
  }
  
  .container .left .text {
    text-align: center;
    margin-top: 10px;
  }
  
  .container .left .text p {
    color: white;
  }
  
  .container .left .shape {
    display: flex;
    justify-content: center;
    margin-top: 75px;
  }
  
  .container .left .shape hr {
    margin: 5px;
  }
  
  .container .left .shape hr.rounded {
    width: 12px;
    border: 5px solid white;
    border-radius: 25px;
  }
  
  .container .left .shape hr.dotted {
    width: 2px;
    border: 5px solid white;
    border-radius: 25px;
  }
  
  .container .right {
    width: 45%;
    background-color: rgb(255, 255, 255);
    height: 7.6in;
  }
  
  .container .right .Lheader {
    margin: 50px;
    color: gray;
    text-align: center;
  }
  
  .container .right .about {
    margin: 70px;
    text-align: center;
  }
  
  .container .right .about h3 {
    color: gray;
  }
  
  .container .right .content {
    width: 100%;
  }
  
  .container .right .content form {
    margin: 0px 150px;
  }
  
  .container .right .content form label {
    color: rgb(99, 99, 99);
  }
  
  .container .right .content form input[type="email"],
  input[type="Password"] {
    border: none;
    width: 300px;
    height: 40px;
    margin: 5px 0px;
  }
  
  .container .right .content form .forgot {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .container .right .content form .forgot a {
    text-decoration: none;
    color: green;
  }
  
  .container .right .content form .sub {
    display: flex;
    justify-content: center;
    margin: 25px;
  }
  
  .container .right .content form input[type="submit"] {
    width: 200px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
  }
  
  .container .right .and {
    text-align: center;
    margin: 40px;
  }
  
  .container .right .account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .right .account i {
    font-size: 25px;
    padding: 5px;
  }
  
  .container .right .create {
    margin: 50px;
    text-align: center;
  }
  
  .container .right .create p a {
    color: green;
    text-decoration: underline;
  }      
       